
.files-dropzone {
   border: 2px dashed #d8e4eb;
   padding: 26px 0 27px 0;
   text-align: center;
   font-style: italic;
   cursor: pointer;   
   user-select: none;
}

.file-added .files-dropzone {
   display: none;
}
