.validation-errors {
   bottom: 0;
   right: 0;
   width: auto;
   position: absolute;
   border-bottom: 0 !important;

   > .expand-button {
      color: #db3636;
      padding: 7px 10px;
      margin-bottom: 0 !important;
      background: #f1f1f1;
      border-radius: 0;
   }

   .box-header {
      border-bottom: 0 !important;
   }

   .box-content {
      display: none;
   }

   &.box-expanded {
      width: 450px !important;

      .expand-button {
         width: 100%;

         &::after {
            transform: rotate(90deg);
         }
      }

      .box-header {
         border-bottom: 1px solid #8aaec3 !important;
      }

      .box-content {
         display: block;
      }
   }

   .expand-button {
      color: #db3636;

      &:hover {
         color: #db3636;
      }
   }

   .rules {
      max-height: 500px;
      overflow-y: auto;

      .rule {
         margin-bottom: 20px;

         .rule-name {
            font-style: italic;
         }

         .messages {
            line-height: 150%;
            font-size: 12px;
            margin: 5px 0;
            padding: 5px 0 5px 20px;
            max-height: 300px;
            overflow-y: auto;
            margin-right: 25px;
            border: 1px dashed #dddddd;

            li {
               padding: 5px 10px;
               transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

               &:hover {
                  background-color: #ebebeb;
               }
            }

            .btn-link {
               text-align: left;
               font-size: 13px !important;
               text-decoration: none;
               color: #333333;
            }
         }
      }
   }
}
