.validation-errors {
   bottom: 32px;
   border-top: 1px solid #8aaec3;
   width: auto;

   > .expand-button {
      color: #db3636;
      padding: 7px 10px;
      margin-bottom: 0 !important;
      background: #f1f1f1;
      border-radius: 0;
   }

   &.panel-expanded {
      width: 550px !important;

      > .expand-button {
         width: 100%;
      }

      .rules {
         display: block;
      }
   }

   .expand-button {
      color: #db3636;

      &:hover {
         color: #db3636;
      }
   }

   .rules {
      display: none;
      max-height: 500px;
      overflow-y: auto;
      padding: 15px 15px 15px 10px;
      border-top: 1px solid #94b5c8;

      .rule {
         margin-bottom: 20px;

         .rule-name {
            font-style: italic;
         }

         .messages {
            border-top: 1px solid #dddddd;
            line-height: 150%;
            font-size: 12px;
            margin: 5px 0;
            padding: 10px 25px;
            max-height: 300px;
            overflow-y: auto;
            border-bottom: 1px solid #dddddd;

            li {
               padding: 5px 10px;
               transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

               &:hover {
                  background-color: #ebebeb;
               }
            }

            .btn-link {
               text-align: left;
               font-size: 13px !important;
               text-decoration: none;
               color: #333333;
            }
         }
      }
   }
}
