.map-container {
   display: flex;

   .map {
      width: 100%;
      height: 990px;

      .ol-rotate {
         top: 45px;
      }
   }

   /*.map-menu {
      height: 350px;
      width: 33%;
      overflow-y: auto;

      ul {
         margin: 0;
         padding: 0;
         list-style: none;

         li {
            margin-bottom: 10px;

            &:first-child {
               border-bottom: 1px solid #dddddd;
               padding-bottom: 10px;
            }

            &:last-child {
               margin-bottom: 0;
            }
         }

         input {
            margin-right: 5px;
         }

         label {
            user-select: none;
            margin-bottom: 0;
         }
      }
   }*/
}
