.app {
   text-align: left;
   margin: 15px auto 50px auto;
}

.container {
   max-width: 1920px !important;
}

header {
   margin-bottom: 25px;
}

h1 {
   img {
      width: 100px;
      margin-right: 25px;
   }

   span {
      font-size: 28px;
      margin-left: 9px;
      vertical-align: 3px;
      font-weight: 100;
   }
}

.content {
   display: flex;
   min-height: 1052px;

   > div {
      background-color: #ffffff;
      border: 1px solid #dddddd;
      padding: 25px;
   }

   .left-content {
      width: 400px;
      border-right: 0;

      .upload {
         margin-bottom: 25px;
      }
   }

   .right-content {
      width: calc(100% - 400px);
   }
}

.section {
   background: #ffffff;
   border: 1px solid #dee2e6;
   padding: 24px 28px;
   margin: 0 0 40px;
}
