.app {
   width: 67%;
   text-align: left;
   margin: 15px auto 50px auto;
}

.container {
   max-width: 1360px !important;
}

header {
   margin-bottom: 25px;
}

h1 {
   font-size: 32px;
   font-weight: 400;
   margin-bottom: 0;

   img {
      width: 125px;
      margin-right: 25px;
   }

   span {
      font-size: 22px;
      margin-left: 9px;
      vertical-align: 2px;
      font-weight: 100;
   }
}

.section {
   background: #ffffff;
   border: 1px solid #dee2e6;
   padding: 24px 28px;
   margin: 0 0 40px;
}