.app {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin: auto;
   max-width: 1920px !important;
   position: relative;
   border-left: 1px solid #92b3c6;
   border-right: 1px solid #92b3c6;
   background-color: #ffffff;

   &.api-loading .content {
      opacity: .1;
   }
}

.content {
   display: flex;
   position: relative;

   .left-content {
      display: flex;
      flex-direction: column;
      width: 400px;

      .box {
         border-left: 0 !important;
         border-right: 1px solid #8aaec3;
         border-top: 0 !important;
         position: static;
      }
   }

   .right-content {
      flex-grow: 1;
      position: relative;

      .box {
         border-right: 0 !important;
         right: 0;
      }
   }
}

.box {
   font-size: 13px;
   position: absolute;
   display: flex;
   flex-direction: column;
   border: 1px solid #8aaec3;
   background-color: #ffffff;
   z-index: 999;

   .box-header {
      display: flex;
      line-height: 16px;
      padding: 7px 15px;
      border-bottom: 1px solid #8aaec3;
      background-color: #f1f1f1;
   }

   .box-content {
      padding: 10px 15px;

      .box-row {
         display: flex;
         margin-bottom: 5px;

         .label {
            width: 35%;
         }

         .value {
            width: 65%;
         }
      }
   }
}
