.legends {
   bottom: 0;
   padding: 10px;
   border-top: 1px solid #8aaec3;
   left: 0;
   width: 350px;

   &.legends-expanded {
      left: 0;
   }

   .expand {
      position: absolute;
      top: -1px;
      right: -36px;
      background: rgb(138 174 195 / 85%);
      width: 35px;
      height: 150px;

      &:hover {
         background: rgb(138 174 195);
      }

      div {
         transform: rotate(90deg);
         transform-origin: top;
         margin: 15px 30px;
         font-size: 16px;
         font-weight: 500;
         color: #ffffff;
      }
   }

   &.legends-show-all .symbol-hidden {
      display: block !important;
   }

   .show-all {
      margin-bottom: 20px;
   }

   .legend-list {
      max-height: 500px;
      overflow-y: auto;
   }

   .legend {
      margin-bottom: 20px;

      &.legend-hidden {
         display: none;
      }

      &.legend-collapsed {
         h3::after {
            transform: rotate(0deg);
         }

         .symbols {
            display: none;
         }
      }

      .header {
         display: flex;
         align-items: center;
         margin-bottom: 10px;

         h3 {
            cursor: pointer;
            user-select: none;
            display: inline-block;
            margin-bottom: 0;

            &::after {
               content: "";
               background: url(../../../assets/gfx/icon-arrow.svg) no-repeat center;
               width: 10px;
               height: 12px;
               display: inline-block;
               background-size: 11px;
               margin-left: 10px;
               transform: rotate(90deg);
               transition: all 0.25s ease;
               margin: 0;
               margin: 0;
               margin-left: 8px;
               vertical-align: -1px;
            }
         }
      }

      .symbols {
         margin-left: 10px;

         .symbol {
            font-size: 13px;
            margin-bottom: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.symbol-hidden {
               display: none;
            }

            img {
               width: 25px;
               margin-right: 5px;
            }
         }
      }
   }
}
