.top-bar {
   height: 32px;
   background-color: #8aaec3;
   color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999;

   .upload-button {
      position: absolute;
      left: 15px;
   }

   .file-name {
      margin-right: 15px;

      &::after {
         content: "\2013";
         margin-left: 15px;
      }

      span {
         margin-left: 10px;
      }
   }
}
