.splash-screen {
   position: absolute;
   width: 396px;
   height: 180px;
   top: calc(50% - 90px);
   background: white;
   padding: 20px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
   display: flex;
   left: calc(50% - 198px);

   img {
      margin-right: 15px;
   }

   div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 16px;

      span {
         font-weight: 100;
      }

      span:nth-child(1) {
         margin-bottom: 0px;
         font-size: 36px;
      }

      span:nth-child(2) {
         font-size: 22px;
      }
   }
}